root = true

[*]
indent_style = space
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.py]
indent_size = 4

[*.{yml,yaml,json,toml,md,html,css,js,j2}]
indent_size = 2

[Makefile]
indent_style = tab
